/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

//main site layout

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/*--------------------------------------------------------------
# My Code
--------------------------------------------------------------*/

.logged-in {
  .site-content {
    margin: 41px auto 0;
  }
}

.site-content {
  width: 1120px;
  margin: 72px auto 0;
  display: flex;

  .content-area {
    width: 70%;
    border-right: 1px solid $solid-border-brand-color;
    padding: ($base__space-unit * 2) ($base__space-unit * 3)
      ($base__space-unit * 2) 0;
  }

  .widget-area {
    width: 30%;
  }
}

// post layout

.post-container {
  box-sizing: border-box;
  margin-bottom: $base__space-unit * 2;
}

.journal {
  .entry-header {
    line-height: 0;
    position: relative;

    .entry-title {
      text-transform: uppercase;
      margin: ($base__space-unit * 1.5) 0;
      max-width: 78.275%;
      line-height: 1.25;
      font-size: $base__space-unit * 1.5;
      background-color: $green_brand_color;
      color: $main_background;
      padding: $base__space-unit * 0.5;
      position: absolute;
      top: 0;

      a {
        color: $main_background;
        &:hover,
        &:focus,
        &:active {
          color: $orange_brand_color;
        }
      }
    }
    .entry-meta {
      line-height: 2;
      background-color: $green_brand_color;
      color: $main_background;
      padding: $base__space-unit * 0.2 $base__space-unit;
      font-family: $font__headings;
      text-transform: uppercase;

      position: absolute;
      bottom: 0;
      right: 0;
      scroll-behavior: smooth;
      a {
        color: $main_background;
        &:hover,
        &:focus,
        &:active {
          color: $orange_brand_color;
        }
      }
    }
  }
}

.single-area {
  .entry-header {
    line-height: 0;
    text-transform: uppercase;
    position: relative;
    font-family: $font__headings;

    .entry-title {
      margin: ($base__space-unit * 1.5) 0;
      max-width: 75%;
      line-height: 1.25;
      font-size: $base__space-unit * 1.5;
      background-color: $green_brand_color;
      color: $main_background;
      padding: $base__space-unit * 0.5;
      position: absolute;
      top: 0;
      a {
        margin: ($base__space-unit * 1.5) 0;
        max-width: 75%;
        line-height: 1.25;
        font-size: $base__space-unit * 1.5;
        background-color: $green_brand_color;
        color: $main_background;
        padding: $base__space-unit * 0.5;
        position: absolute;
        top: 0;
        color: $main_background;
        &:hover,
        &:focus,
        &:active {
          color: $orange_brand_color;
        }
      }
    }
    .entry-meta {
      line-height: 2;
      background-color: $green_brand_color;
      color: $main_background;
      padding: $base__space-unit * 0.2 $base__space-unit;
      font-family: $font__headings;
      text-transform: uppercase;

      position: absolute;
      bottom: 0;
      right: 0;
      scroll-behavior: smooth;
      a {
        color: $main_background;
        &:hover,
        &:focus,
        &:active {
          color: $orange_brand_color;
        }
      }
    }
  }
}

// content footer

.tags-links,
.cat-links {
  font-family: $font__headings;
  text-transform: uppercase;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */

.comments-area {
  .comment-content {
    padding-bottom: $base__space-unit;
    border-bottom: 1px solid $solid-border-brand-color;
  }
}

.comment-respond {
  h3 {
    font-size: $base__space-unit * 1.5;
  }
}
.comment-form-comment {
  display: flex;
  flex-direction: column;
  textarea {
    background-color: $solid-border-brand-color;
    border-color: $dotted-border-brand-color;
  }
}
.form-submit {
  .submit {
    font-family: $font__headings;
    text-transform: uppercase;
    background-color: $green-brand-color;
    border-color: $green-brand-color;
    color: $main_background;
    padding: $base__space-unit * 0.25 $base__space-unit * 0.75;
    &:hover,
    &:active,
    &:focus {
      background-color: darken($green-brand-color, 12.5%);
      border-color: darken($green-brand-color, 12.5%);
    }
  }
}
.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}
