/*--------------------------------------------------------------
# My Code
--------------------------------------------------------------*/

.inhabitent-button {
  font-size: $base__space-unit * 0.6;
  font-family: $font__headings;
  text-decoration: none;
  color: $purple_brand_color;
  border: 1px solid $purple_brand_color;
  padding: ($base__space-unit * 0.5) $base__space-unit;

  &:hover,
  &:focus,
  &:active {
    color: $main_background;
    background-color: $green_brand_color;
    border-color: $green_brand_color;
  }
}

.front-page-read-entry {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* Fields */

fieldset {
  height: $base__space-unit;
  border: none;
  padding: 0;
  margin: 0;
  label {
    border: none;
    padding: 0;
    margin: 0;
  }
  input {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
  }
}
