/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Feature Image Pages */

.page-feature-image-title {
  color: $main_background;
  font-size: $base__space-unit * 2.5;
}

.page-feature-image {
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Front page */

//layout
.front-page-content-area {
  .site-main {
    // width: 1120px;
    // border-right: none;
    // margin: 0 auto;
  }
}
.front-page-title {
  letter-spacing: 3px;
  font-size: $base__space-unit * 1.5;
  font-weight: lighter;
  text-align: center;
  margin: 0 0 72px;
}

//shop section
.product-type-blocks {
  display: flex;
  margin-bottom: 72px;
  .product-type-block-wrapper {
    margin: $base__space-unit * 0.5;
    height: $base__space-unit * 13;
    padding: $base__space-unit * 0.25;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid $solid-border-brand-color;
    border-top: 5px solid $solid-border-brand-color;
    .product-image {
      width: 30%;
    }
    &:hover,
    &:active,
    &:focus {
      border-color: $orange-brand-color;
    }
    .product-button {
      background-color: $green-brand-color;
      border-color: $green-brand-color;
      color: $main_background;
      &:hover,
      &:active,
      &:focus {
        background-color: darken($green-brand-color, 12.5%);
        border-color: darken($green-brand-color, 12.5%);
      }
    }
  }
}

//journal section
.front-page-journal-container {
  margin-bottom: 72px;
  display: flex;
}

.front-page-journal-post {
  border: 1px solid $solid-border-brand-color;
  margin: $base__space-unit * 0.5;
  height: 420px;
  position: relative;

  img {
    padding-bottom: 5px;
    background-color: $solid-border-brand-color;
  }
}

.front-page-journal-info {
  background-color: $main_background;
  padding: $base__space-unit * 0.5;
  p {
    font-size: $base__space-unit * 0.5;
    margin: 0;
    padding: 0;
  }

  h3 {
    margin: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
/* About page */

//about page layout

.about-content-area {
  margin: 0 auto;
  width: 75%;

  .site-main {
    // width: 1120px;
    // border-right: none;
    // margin: 0 auto;
  }

  .entry-content {
    margin: 0 0 72px;
  }

  header {
    display: none;
  }
  h2 {
    font-size: $base__space-unit * 1.5;
    text-align: center;
    margin: $base__space-unit * 1.5 0;
  }
}

/* Single Product */

.single-product-area {
  width: 100%;
}

.social-container {
  margin: $base__space-unit 0;
  a {
    margin-right: $base__space-unit * 0.25;
  }
}

/* Find Us Page */

.google-maps-location {
  padding: 0;
  margin: 0;
  width: 100%;
  iframe {
    width: 100%;
  }
}
.wpcf7 {
  p {
    margin: 0;
    .wpcf7-text {
      border: 1px solid $dotted-border-brand-color;
      background-color: $solid-border-brand-color;
    }
    .wpcf7-textarea {
      width: 100%;
      background-color: $solid-border-brand-color;
      border-color: $dotted-border-brand-color;
    }
    .wpcf7-submit {
      background-color: $green-brand-color;
      border-color: $green-brand-color;
      color: $main_background;
      &:hover,
      &:active,
      &:focus {
        background-color: darken($green-brand-color, 12.5%);
        border-color: darken($green-brand-color, 12.5%);
      }
    }
  }
  h3 {
    margin: ($base__space-unit * 0.25) 0;
    font-weight: lighter;
  }
  .email-form-asterisk {
    color: $orange-brand-color;
  }
}

/* Products Archive Page*/
.products-content-area {
  width: 100%;
  .shopping-archive-title {
    margin-bottom: 0;
    font-weight: normal;
    font-size: $base__space-unit * 1.66;
  }
}
.product-type-container {
  padding: ($base__space-unit * 1.25) 0;
  border-bottom: 1px dashed $dotted-border-brand-color;
  .product-type-archive-block {
    width: 25%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: $font__headings;
  }
}

.product-grid {
  margin: 72px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: $base__space-unit;
}

.product-grid-item {
  border: 1px solid $solid-border-brand-color;
}

.product-archive-image-container {
  background-color: $solid-border-brand-color;
  min-height: 80%;
  overflow: hidden;
  img {
    height: 200px;
    width: 260px;
  }
}

.product-meta {
  padding: $base__space-unit * 0.5;
  font-size: $base__space-unit * 0.5;
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  .dots-after {
    position: relative;
    white-space: nowrap;
    flex-grow: 3;
    display: flex;
    overflow: hidden;

    .product-title {
      font-size: $base__space-unit * 0.66;
      font-family: $font__main;
      font-weight: normal;
      margin: 0;
      background: $main_background;
    }

    &::after {
      content: '.....................................................................';
      white-space: nowrap;
      position: absolute;
      z-index: -1;
      // flex-grow: 2;
      display: block;
      left: 50%;
      bottom: 0;
      transform: translatex(-50%);
    }
  }
  .price {
    margin: 0;
    position: relative;
    z-index: 3;
    text-align: right;
  }
}

/* Product Taxonomy Pages */
.product-taxonomy-terms {
  padding-top: 0;
  h1 {
    margin-top: 0;
    font-size: $base__space-unit * 2;
  }
  text-align: center;
}

/* Single Product Page */

.product-page-area {
  display: flex;
  justify-content: space-between;

  .product-price {
    font-weight: normal;
    margin: ($base__space-unit * 0.5) 0;
  }
  .product-title {
    color: $orange-brand-color;
    font-size: $base__space-unit * 1.5;
    margin: 0;
  }
}
.product-single-image {
  width: 50%;
  padding: $base__space-unit;
}

.product-content {
  width: 50%;
  padding: $base__space-unit;
}

/* Search Page */

.search-page {
  width: 70%;
  border-right: 1px solid $solid-border-brand-color;
  padding: 0 ($base__space-unit * 3) ($base__space-unit * 2) 0;

  .page-title {
    margin: 0 0 $base__space-unit * 3;
    font-size: $base__space-unit * 1.75;
    border-bottom: 1px solid $solid-border-brand-color;
    padding: $base__space-unit 0;
  }
  .hentry {
    margin: 0 0 $base__space-unit * 3;
  }
  .search-results {
    padding: $base__space-unit 0;
  }
  .entry-title {
    font-size: $base__space-unit * 1.33;
    text-transform: uppercase;
    margin: 0 0 ($base__space-unit * 0.25);
  }
}
