/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.front-apge-content-area {
  .content-area {
    width: 100%;
    border-right: none;
  }
}
.front-page-title {
  letter-spacing: 3px;
  font-size: $base__space-unit * 1.5;
  font-weight: lighter;
  text-align: center;
  margin: ($base__space-unit * 2) 0;
}

.front-page-journal-container {
  display: flex;
}

.front-page-journal-post {
  border: 1px solid $solid-border-brand-color;
  margin: $base__space-unit * 0.5;
  height: 420px;
  position: relative;

  img {
    padding-bottom: 5px;
    background-color: $solid-border-brand-color;
  }
}

.front-page-journal-info {
  background-color: $main_background;
  padding: $base__space-unit * 0.5;
  p {
    font-size: $base__space-unit * 0.5;
    margin: 0;
    padding: 0;
  }

  h3 {
    margin: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
/* About page */

//about page layout
.about-content-area {
  width: 80%;
  margin: 0 auto;

  .entry-content {
    margin: ($base__space-unit * 3) 0;
  }
  h2 {
    font-size: $base__space-unit * 1.5;
    text-align: center;
    margin: $base__space-unit * 2;
  }
}

/* Single Product */

.single-product-area {
  width: 100%;
}

.social-container {
  margin: $base__space-unit 0;
  a {
    margin-right: $base__space-unit * 0.25;
  }
}
